// Alte stiluri pentru header-style...

.header-style {
  background-image: linear-gradient(rgb(255, 68, 68), rgb(151, 22, 22));
  display: flex;
  flex-direction: row;
  align-items: center; // Centrare verticală a conținutului în mat-toolbar
}

.logo-style {
  margin-left: 1%;
  color: whitesmoke;
}

.button-style {
  color: white !important;
  outline: none;
  border: none;
  box-shadow: none;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  cursor: pointer;

  &:hover {
    background-color: rgb(222, 52, 52);
    color: #fff;
  }
}

.button-drop-style {
  color: white;
  border: 1 px solid white;
  position: relative;
}

.custom-menu {
  button.mat-menu-item {
    color: black; 
  }
}

