.box-placement{
    position: absolute;
    top: 10%;
    left: 30%;
}
.body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../../../assets/Background.jpg'); /* Actualizează cu calea corectă către imagine */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
}
